<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Lista de productos</h1>
  <% if (products.length===0) { %>
    <h1> No hay productos</h1>
    <%} else { %>
      <div class="entry">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i < products.length; i++) { %>
              <tr>
                <td>
                  <%=products[i].id%>
                </td>
                <td>
                  <%=products[i].title%>
                </td>
                <td>
                  <%=products[i].price%>
                </td>
                <td><img src="<%=products[i].thumbnail%>" alt="<%=products[i].title%>" width="25"></td>
              </tr>
              <% } %>
          </tbody>
        </table>

        <% } %>

      </div>
</body>

</html>